.homeContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.homeContainer_leftBar {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  border-right: 1px solid rgb(222, 222, 222);
  flex: 0.2;
}

    /* .homeContainer > div:nth-child(odd){
        flex: 0.2;
    }
    .homeContainer > div:nth-child(even){
    flex: 0.4;
    } */
.sideBarOption {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.3rem;
  width: 80%;
  min-width: 100px;
  max-width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s;
}

.sideBarOption:hover {
  transform: scale(1.04);
}
.sideBarOption > svg {
  height: 1.4rem;
  min-width: fit-content;
}

.homeContainer_extraContainer {
  flex: 0.2;
}
.homeContainer_extraContainer {
  border-left: 1 px solid rgb(222, 222, 222);
  padding-left: 1.2rem;
}
.homeContainer_feedContainer {
  flex: 0.55;
}

.homeContainer_feedContainer {
  padding-inline: 0.8rem;
}


.mobileNavbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  display: none;

  justify-content: space-around;
  background: white;
  align-items: center;
  
}

.singleNavItemHolder_mobileView{

}
.mobileNavbar svg{
height: 2rem;

width: 2rem;


}


@media only screen and (max-width : 600px){
  .homeContainer_extraContainer{
    display: none;

  }

  .homeContainer{
    display:block;


  }
.homeContainer_leftBar{
  display: none;

}
.homeContainer_feedContainer{
  padding-bottom: 8vh;
}
.mobileNavbar{
  display: flex;

}
}
